@charset "utf-8";
body{
     background-image:url("../images/beach.jpg");	
}
.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

/* Green */
.weekend {
    color: green;
}

.weekend:hover {
    background-color: #04AA6D;
    color: white;
}

/* Blue */
.kids {
    color: dodgerblue;
}

.kids:hover {
    background: #2196F3;
    color: white;
}

/* Orange */
.family {
    color: orange;
}

.family:hover {
    background: #ff9800;
    color: white;
}

/* Red */
.couple {
    color: red;
}

.couple:hover {
    background: #f44336;
    color: white;
}

/* Gray */
.holiday {
    color: black;
}

.holiday:hover {
    background: #e7e7e7;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}
{
  box-sizing: border-box;
}

.row {
  display: flex;
}
.column {
  flex: 50%;
  padding: 5px;
}



	



